<form action="/api/items" method="POST" id="add_item">
    <div class="new_item">
        <div class="form-group">
            <label for="name" class="text-light">Name</label>
            <input type="hidden" name="id" value="">
            <input type="text" name="name" value="">
        </div>

        <div class="form-group">
            <label for="type" class="text-light">Type</label>
            <div class="radio inline">
                <input type="radio" id="radio-2" name="type" value="Domestic" >
                <label for="radio-2" class="radio-label">Domestic</label>
            </div>
            <div class="radio inline">
                <input type="radio" id="radio-3" name="type" value="International" >
                <label for="radio-3" class="radio-label">International</label>
            </div>
        </div>

        <div class="form-group">
            <label for="status" class="text-light">Status</label>
            <div class="radio inline">
                <input type="radio" id="radio-4" name="status" value="Not Received" >
                <label for="radio-4" class="radio-label">Not Received</label>
            </div>
            <div class="radio inline">
                <input type="radio" id="radio-5" name="status" value="In Factory" >
                <label for="radio-5" class="radio-label">In Factory</label>
            </div>
            <div class="radio inline">
                <input type="radio" id="radio-6" name="status" value="Shipped" >
                <label for="radio-6" class="radio-label">Shipped</label>
            </div>
        </div>

        <div class="form-group">
            <label for="location" class="text-light">Location</label>
            <input type="text" name="location" value="">
        </div>

        <div class="form-group">
            <label for="receivedDate" class="text-light">Received Date</label>
            <input type="date" name="receivedDate" value="">
        </div>

        <div class="form-group">
            <label for="shippedDate" class="text-light">Shipping Date</label>
            <input type="date" name="shippedDate" value="">
        </div>

        <div class="form-group">
            <button type="submit" class="btn text-dark update">Save</button>
        </div>

    </div>
</form>